@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Manrope', sans-serif;
}

#stage {
  width: 100vw;
  height: 100vh;
}

#coverage {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.25em 0.5em;
  background: #222;
  color: #fff;
  font-size: 0.8em;
}

#tip {
  z-index: 1;
  position: fixed;
  display: none;
  color: #fff;
  background: #222;
  font-size: 0.8em;
  padding: 0.5em;
  pointer-events: none;
}
